﻿@page
@model IndexModel
@inject LinkLibrary links 
@inject CashewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer.GetWelcome()</h1>
    <h1 class="display-4">@Localizer.GetWelcomeHtml()</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Some Links</h2>
    <ul>
        <li>@links.Member.List().GetHtmlLink()</li>
        <li>@links.MeterUnit.List().GetHtmlLink()</li>
        <li><a href="swagger">Swagger</a></li>
    </ul>
</div>
