@model RollNut.Cashew.Web.ViewModels.Base.IViewModel
@{
    ViewData["Title"] = "New";
}

<h1>Create - @Model.GetType().Name</h1>

@using (@Html.BeginForm())
{
    @* @Html.ValidationSummary(true, "Invalid form data."); *@

    @Html.EditorFor(m => m, new { htmlAttributes = new { @class = "form-control" } });
    
    <input type="submit" value="Save" name="edit" id="btnSubmit" />
}