@model RollNut.Cashew.Web.ViewModels.Base.IViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete - @Model.GetType().Name</h1>
@* <label>@Model.GetDisplayName()</label> *@

<p>Sure delete "@Model.GetDisplayName()"?</p>

@using (@Html.BeginForm())
{
    <input type="submit" value="Delete" id="btnSubmit" />
}