@using ViewModels.Base
@model IListViewModel
@{
    ViewData["Title"] = "List";
}

<h1>Übersicht - @Model.GetDisplayName()</h1>

@if (Model.ListActions.Any())
{
    foreach(var actionLink in Model.ListActions)
    {
        <partial name="rollnutlink.cshtml" model="actionLink" />        
    }
}

@if (Model.Items.Any())
{
    <table class="@Model.GetType().Name">

        @* Table-Header *@
        @if (Model.GetColumnHeaders().Any())
        {
            <thead>
                <tr>
                    @foreach (var header in Model.GetColumnHeaders())
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
        }

        @* Table-Body *@
        <tbody>
        @foreach (var row in Model.Items)
        {
            var entity = (IEntityViewModel)row;
            <tr>
                @foreach (var column in Model.GetColumnValues(row))
                {
                    <td>
                        @if (column is RollNutLink)
                        {
                            <partial name="rollnutlink.cshtml" model="column"></partial>
                        }
                        else
                        {
                            <p>@column</p>
                        }
                    </td>
                }
            </tr>
        }
        </tbody>

        @* Table-Footer *@
        @* <tfoot> *@
        @* </tfoot> *@
    </table>
}
else
{
    <br/>
    <label>No Items found</label>
}