@model RollNut.Cashew.Web.RollNutLink

@{
    var buttonclass = Model.LinkType.ToString().ToLower();
    var link = Model.Link == string.Empty ? null : Model.Link;
}

<button class="@buttonclass">
    @* @Html.ActionLink("+ Create Member", "create") *@

    <a href="@Model.Link">@Model.DisplayText</a>

    @* @if (Model.Link.Contains("/"))
    {
        <a href="@Model.Link">@Model.DisplayText</a>
    }
    else
    {
        @Html.ActionLink(Model.li);

        if (Model.Id == null)
        {
            @Html.ActionLink(Model.Name, @link);
        }
        else
        {
            @Html.ActionLink(Model.Name, @link, new { Id = Model.Id });
        }
    } *@
</button>