@model RollNut.Cashew.Web.ViewModels.Base.IViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Update - @Model.GetType().Name</h1>

@using (@Html.BeginForm())
{
    @Html.EditorFor(m => m, new { htmlAttributes = new { @class = "form-control" } });
    
    <input type="submit" value="Save" name="edit" id="btnSubmit" />

    @* <input type="submit" value="Save" formaction="@Url.Action("updatevehicle", 1)" formmethod="post" /> *@
}