:root {
  --rollnut-primary-color: #ce7d58;
  --rollnut-accent-color: #aceca3;

  --rollnut-neutral-color: #adadad;
  --rollnut-positive-color: #25cc86;
  --rollnut-negative-color: #f083c6;

  --roolnut-text-color: #494949;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--col);
}

button.neutral {
  background-color: var(--rollnut-neutral-color);
}

button.positive {
  background-color: var(--rollnut-positive-color);
}

button.negative {
  background-color: var(--rollnut-negative-color);
}